</body>
<script  type="text/javascript" charset="utf-8">
  function dropdown() {
    let nav = document.getElementById("navbar-default");
    let menu = document.getElementById("menu");
    let x = 0;

    if (window.innerWidth >= 767) {
      nav.style.display = "block";
    } else {
      nav.style.display = "none";
    }

    menu.addEventListener("click", () => {
      if (x) {
        nav.style.display = "none";
        x = 0;
      } else {
        nav.style.display = "block";
        x = 1;
      }
    });
  }

  dropdown();
  window.addEventListener('resize', dropdown);
</script>

<script src="/socket.io/socket.io.js.map"></script>
<!-- <script src="socket-lib/socket.io.js"></script> -->
<script type="text/javascript" charset="utf-8">
function sendData() {
    try {
        let socket = io.connect('http://localhost:3300');
        socket.on('connect', function(data) {
            socket.send('Hello.');
            socket.on('message', function (msg) {
                socket.send('This is where I send data?');
            });
        });
    }
    catch(err) {
        alert('ERROR: socket.io encountered a problem:\n\n' + err);
    }
} 
</script>
</html>
