<% include ./partials/header.ejs %>
    <div class="w-full min-h-screen bg-zinc-700 px-10 py-8 text-white">
        <div class="cards flex flex-wrap gap-10 bg-neutral-600 w-fit p-10 rounded-md ">
            <% posts.forEach(function(elem){ %>
                <div class="card w-38 sm:w-52">
                    <h2 class="mt-2 text-sm" style="text-align: center;">@<%= elem.user.username %></h2>
                    <div class=" w-52 h-44 bg-zinc-500 rounded-lg overflow-hidden">
                        <img src="/images/uploads/<%= elem.image %>" class="w-full h-full object-cover" alt="">
                    </div>
                    <h2 class="mb-2 mt-2 text-sm border-2" style="text-align: center;"><%= elem.title %></h2>
                   <div class="w-52 flex flex-wrap">
                    <h5 class="text-sm dd border-2"><%= elem.imageText %></h5>
                   </div>    
            </div>
           <% }) %>
        </div>
    </div>
<% include ./partials/footer.ejs %>
