<% include ./partials/header.ejs %>
 <div class="w-full min-h-screen bg-zinc-800 px-10 py-5 text-black">
    <h1 class="text-lg text-white ">edit account</h1>
    <hr class="opacity-10 mt-3">
<!-- profile edit -->
    <div class="profile w-full min-h-screen bg-zinc-800 text-white pt-1">
        <form action="/file" method="post" id="uplogo" enctype="multipart/form-data" hidden>
            <input type="file" name="image" id="">
        </form>
    <div class="profdets flex flex-col items-center mt-20 ">
        <div class="relative">
            <span id="logo" class="w-6 h-6 absolute bottom-0 right-2 rounded-full flex items-center justify-center  bg-zinc-200">
                <i class="ri-pencil-fill text-zinc-700"></i>
            </span>
            <div class="w-28 h-28 bg-blue-100 rounded-full overflow-hidden">
                <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profileimage %>" alt="">   
            </div>
        </div>

<!-- all edit -->

    <form action="/edit" class="flex flex-col " method="post"  enctype="multipart/form-data" >
        <!-- <input class="mt-2" type="file" name="image" id=""> <br> -->
        <input class="mt-2" type="text" name="email" placeholder="edit email">
        <input class="mt-2" type="text" name="fullname" placeholder="edit fullname">
        <input class="mt-2" type="text" name="username" placeholder="edit username">
        <input class="mt-5 mb-10 bg-blue-500" type="submit" class="text-white" value="save">
    </form>
    
   <!-- password edit -->
    <form action="/password" method="post" id="" enctype="multipart/form-data" >
        <!-- <input type="file" name="image" id=""> -->
        <!-- <input type="password" name="password" id=""> -->
              <div class="py-2" x-data="{ show: true }">
                <div class="relative">
                  <input name="password" placeholder="password" :type="show ? 'password' : 'text'" class="text-md text-black block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600  focus:outline-none">
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">

                    <svg class="h-6 text-gray-700" fill="none" @click="show = !show"
                      :class="{'hidden': !show, 'block':show }" xmlns="http://www.w3.org/2000/svg"
                      viewbox="0 0 576 512">
                      <path fill="currentColor"
                        d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z">
                      </path>
                    </svg>

                    <svg class="h-6 text-gray-700" fill="none" @click="show = !show"
                      :class="{'block': !show, 'hidden':show }" xmlns="http://www.w3.org/2000/svg"
                      viewbox="0 0 640 512">
                      <path fill="currentColor"
                        d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z">
                      </path>
                    </svg>
                    
                  </div>
                </div>
              </div>
              <input type="submit" value="submit">
          
       
    </form>
 </div>
 <script>
    document.querySelector("#logo").addEventListener("click", function () {
        document.querySelector("#uplogo input").click();
    })
    document.querySelector("#uplogo input").addEventListener("change", function  (){
        document.querySelector("#uplogo").submit();
    })
</script>
<% include ./partials/footer.ejs %>
