<% include ./partials/header.ejs %>
<div class="bg-slate-600">
    
    <form action="/test" method="post">
        <input type="email" name="email" id="">
        <input type="submit" placeholder="sun">
    </form>
</div>
<% include ./partials/footer.ejs %>
